@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url("reset.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.heading {
    font-size: 45px;
    font-weight: 700;
}
/*Перша секція*/
.header {
    background-color: #2A1A5E;
    color: #fff;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.menu {
    display: flex;
    gap: 45px;
}
.menu > li > a:hover {
    color: #F24080;
    transition: all 0.3s ease;
}
.btn {
    display: block;
    text-align: center;
    width: 270px;
    background-color: #F24080;
    padding: 20px 0;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #961040;
    transition: all 0.3s ease;
}
.offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
 }
.offer_text {
    position: relative;
    z-index: 99;
}
.circle {
    position: absolute;
    width: 242px;
    height: 240px;
    left: 460px;
    top: -80px;
    background-image: url("../assets/circle.png");
    z-index: -2;
}
.dottet_circle {
    position: absolute;
    width: 242px;
    height: 225px;
    left: 505px;
    top: -30px;
    background-image: url("../assets/dotted-circle.png");
    z-index: -3;
}
.offer_text span {
    font-size: clamp(0.88rem, calc(0.49rem + 1.94vw), 2.81rem);
    font-weight: 900;
}
.offer_text span::before {
    content: url("../assets/vawe.png");
    display: block;
    position: absolute; 
    top: -70px;
    left: 0;
    width: 230px;
}
.offer_text h1 {
    font-size: clamp(1.44rem, calc(0.91rem + 2.63vw), 4.06rem);
    text-transform: uppercase;
    color: #EEFF2C;
    font-weight: 900;
    line-height: 1.35em;
    letter-spacing: 0.06em;
}
.offer_text p {
    font-size: 23px;
    padding-top: 30px;
    padding-bottom: 90px;
    width: 586px;
    line-height: 1.35em;
}
.offer_hero {
    background-image: url(../assets/hero4.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 670px;
    height: 795px;
}

/*Друга секція*/
.offer_box {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.right_box h2 {
    text-align: center;
}

.left_text,
.right_text {
    padding: 45px 25px;
    line-height: 1.55em;
    text-align: justify;
}
.left_text ul {
    list-style: disc;
    margin-left: 50px;
}
.left_text blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Третя секція*/
.tornament {
    padding-top: 90px;
}
.tornament_items {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}
.item {
    border:#909090 1px dotted;
    width: 410px;
    border-radius: 25px;
    text-align: center;
    padding: 15px 10px;
}
.item h3 {
    font-size: 23px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 25px;
    line-height: 1.25em;
}
.item p {
    font-size: 18px;
    color: #F24080;
    width: 374px;
    line-height: 1.30em;
}
.tornament .btn {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
/*Четверта секція*/
.faq {
    position: relative;
}
.faq h2 {
    text-align: center;
    padding-bottom: 90px;
}
.faq h2::before {
    content: url("../assets/vawe.png");
    display: block;
    position: absolute; 
    top: -40px;
    left: 41%;
    width: 230px;
}
/*Акордеон*/
.acor-container {
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.acor-container .acor-body {
    margin: 0 auto;
    border-radius:15px;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #dddbdb;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    cursor: pointer;
    border-radius: 15px;
    background-color: #F0EEEE;
    display: block;
    padding: 20px 25px;
    width: 100%;
    color: #2A1A5E;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-size: 27px;
    font-weight: 700;
    margin: 0 0 5px;
    transition: color .35s;
}
.acor-container label:hover {
    color: #F24080;
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    font-family: fontawesome;
    content: '\f078';
    font-size: 20px;
    float: right;
}
.acor-container input:checked + label {
    background-color: #F0EEEE;
    color: #2A1A5E;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(180deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}
.faq .btn {
    margin: 0 auto;
    margin-bottom: 90px;
}
/*Підвал сайту*/
.footer {
    background-color: #2A1A5E;
    color: #fff;
    font-size: 18px;
    padding: 75px 0 20px 0;
}
.footer_list {
    display: flex;
    justify-content: space-between;
}
.footer_about {
    width: 335px;
}
.footer_about h4 {
    line-height: 1.45em;
    margin: 15px 0;
}
.footer_about .social a i {
    font-size: 25px;
    padding-right: 20px;
}
.footer_about .social a:hover {
    color:#F24080;
    transition: all 0.3s ease;
}
.footer_adress li,
.footer_info li {
    padding: 10px 0;
}
.copy {
    margin-top: 150px;
    text-align: center;
}

/*Адаптив*/
@media screen and (max-width:1300px) {
    .container {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }
    /* .offer_text span {
        font-size: 39px;
    }
    .offer_text h1 {
        font-size: 62px;
    } */
    .offer_hero {
        width: 670px;
        height: 680px;
    }
    .item {
        width: auto;
        margin-right: 10px;
    }
    .item:last-child {
        margin-right: 0;
    }
    .left_box img,
    .right_box img {
        width: 580px;
    }
}
@media screen and (max-width:1024px) {
   body {
    font-size: 16px;
   }
    /* .offer_text span {
        font-size: 30px;
    }
    .offer_text h1 {
        font-size: 47px;
    } */
    .circle {
        left: 304px;
        top: -105px;
    }
    .dottet_circle {
        left: 380px;
        top: -70px;
    }
    .offer_text p {
        font-size: 18px;
    }
    .offer_hero {
        width: 634px;
        height: 540px;
        
    }
    .offer_box {
        flex-direction: column;
        align-items: center;
         gap: 25px;
    }  
    .right_box,
    .left_box {
        text-align: center;
    } 
    .right_box {
        order: -1;
    }
    .left_box .btn {
        margin: 0 auto;
    }
    .heading {
        text-align: center;
    }
    .tornament_items {
        flex-direction:column;
        align-items: center;
        gap:25px;
    }
    .item {
        margin-right: 0;
    }
    .item p {
        width: 100%;
    }
    
}
@media screen and (max-width: 980px) {
    /* .offer_text span {
        font-size: 25px;
    }
    .offer_text h1 {
        font-size: 40px;
    } */
    .offer_hero img {
        height: 450px;
    }
    .offer_text p {
        width: 500px;
    }
    .btn {
        font-size: 14px;
    }
    .heading {
        font-size: 40px;
    }
    .acor-container label {
        font-size: 20px;
    }
    .footer_about,
    .footer_info,
    .footer_adress,
    .copy {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .offer {
        flex-direction: column;
        gap: 55px;
        padding-top: 150px;
    }
    .offer_text {
        width: 100%;
        text-align: center;
    }
    /* .offer_text span {
        font-size: 40px;
    }
    .offer_text h1 {
        font-size: 63px;
    } */
    .offer_text p {
        width: 100%;
    }
    .offer .btn {
        margin: 0 auto;
    }
    .offer_text span::before {
        top: -50px;
        left: 31%;
    }  
    .offer_hero img {
        height: 550px;
    }
    .faq h2::before {
        top: -40px;
        left: 34%;
    } 
    .footer_list {
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
    }

}
@media screen and (max-width:700px) {
    /* .offer_text span {
        font-size: 39px;
    }
    .offer_text h1 {
        font-size: 62px;
    } */
    
}
@media screen and (max-width:680px) {
    /* .offer_text span {
        font-size: 35px;
    }
    .offer_text h1 {
        font-size: 55px;
    } */
    .dottet_circle {
        left: 350px;
    }
    .offer_hero img {
        height: 500px;
    }
    .heading {
        font-size: 35px;
    }
    .left_box .left_img,
    .right_box .right_img {
        width: 450px;
    }
    .item h3 {
        font-size: 20px ;
    }
    .item p {
        font-size: 16px ;
    }
    .acor-container label {
        font-size: 18px;
    }
}
@media screen and (max-width:540px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .nav .btn {
        width: 100%;
        margin: 0 auto;
    }
    /* .offer_text span {
        font-size: 28px;
    }
    .offer_text h1 {
        font-size: 44px;
    } */
    .offer_text span::before {
        top: -50px;
        left: 20%;
    }
    .circle {
        left: 175px;
    }
    .dottet_circle {
        top:-40px;
        left: 205px;
    }
    .offer_hero {
        width: 500px;
    }
    .faq h2::before {
        left: 28%;
    }
    .acor-container label {
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    /* .offer_text span {
        font-size: 25px;
    }
    .offer_text h1 {
        font-size: 40px;
    } */
    .offer_text p {
        font-size: 16px;
    }
    .circle {
        left: 130px;
    }
    .dottet_circle {
        top:-40px;
        left: 180px;
    }
    .offer_hero {
        width: 455px;
    }
}
@media screen and (max-width: 425px) {
    /* .offer_text span {
        font-size: 19px;
    }
    .offer_text h1 {
        font-size: 31px;
    } */
    .offer_text p {
        font-size: 15px;
    }
    .offer_text span::before {
        left: 8%;
    }
    .circle {
        left: 60px;
    }
    .dottet_circle {
        top:-40px;
        left: 95px;
    }
    .heading {
        font-size: 30px;
    }
    .faq h2::before {
        left: 23%;
    }
    .acor-container label {
        font-size: 14px;
    }
    .left_box .left_img, 
    .right_box .right_img {
        width: 370px;
    }
    .offer_hero {
        width: 400px;
    }
}
@media screen and (max-width: 375px) {
    /* .offer_text span {
        font-size: 18px;
    }
    .offer_text h1 {
        font-size: 29px;
    } */
    .offer_text p {
        font-size: 13px;
    }
    .offer_hero {
        width: 350px;
    }
    .circle {
        left: 25px;
    }
    .dottet_circle {
        top:-40px;
        left: 60px;
    }
    .heading {
        font-size: 30px;
    }
    .offer_text span::before {
        top: -50px;
        left: 8%;
    }
    .heading {
        font-size: 25px;
    }
    .item h3 {
        font-size: 16px;
    }
    .item p {
        font-size: 13px;
    }
    .faq h2::before {
        left: 19%;
    }
    .btn {
        font-size: 12px;
    }
    .left_box .left_img, 
    .right_box .right_img {
        width: 320px;
    }

    .footer_about,
    .footer_info,
    .footer_adress,
    .copy {
        font-size: 12px;
    }
    .logo img,
    .footer_about img {
        width: 80px;
    }
}
@media screen and (max-width: 320px) {
    /* .offer_text span {
        font-size: 14px;
    }
    .offer_text h1 {
        font-size: 23px;
    } */
    .offer_text p {
        font-size: 12px;
    }
    .circle {
        left: 25px;
    }
    .dottet_circle {
        top: -35px;
        left: 16px;
    }
    .heading {
        font-size: 20px;
    }
    .offer_text .btn {
        width: 100%;
    }
    .offer_hero {
        width: 340px;
    }
    .faq h2::before {
        left: 14%;
    }
    .item img {
        width: 75px;
        height: auto;
    }
    .item h3 {
        font-size: 14px;
    }
    .item p {
        font-size: 11px;
    }
    .offer_text span::before {
        left: -2%;
    }
    .btn {
        width: 100%;
    }
}